<div class="layui-fluid" id="user-add" style="margin-top: 1rem">
    <div class="layui-form-item">
        <label class="layui-form-label">上级部门：</label>
        <div class="layui-input-block">
            <input type="text" name="parentId" minlength="2"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门代码：</label>
        <div class="layui-input-block">
            <input type="text" name="deptCode" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称：</label>
        <div class="layui-input-block">
            <input type="password" name="deptName" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门全称：</label>
        <div class="layui-input-block">
            <input type="text" name="deptFullName"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文名称：</label>
        <div class="layui-input-block">
            <input type="text" name="deptNameEn"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文全称：</label>
        <div class="layui-input-block">
            <input type="text" name="deptFullNameEn"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <input type="text" name="memo"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="float: right">
        <div class="layui-inline" >
            <input type="button" data-type="submit" class="layui-btn layui-btn-fluid" value="提 交"/>
        </div>
        <div class="layui-inline">
            <input type="button" data-type="cancel" class="layui-btn layui-btn-fluid" value="取消"/>
        </div>
    </div>
</div>