<div class="layui-fluid" id="user-add" style="margin-top: 1rem">
    <div class="layui-form-item">
        <label class="layui-form-label">用户代码：</label>
        <div class="layui-input-block">
            <input type="text" name="userCode" minlength="2"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="realName" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密 码：</label>
        <div class="layui-input-block">
            <input type="password" name="password" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮 箱：</label>
        <div class="layui-input-block">
            <input type="text" name="email"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="float: right">
        <div class="layui-inline" >
            <input type="button" data-type="submit" class="layui-btn layui-btn-fluid" value="提 交"/>
        </div>
        <div class="layui-inline">
            <input type="button" data-type="cancel" class="layui-btn layui-btn-fluid" value="取消"/>
        </div>
    </div>
</div>