

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui-crm.css" media="all">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/eleTree.css" media="all">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>

<div style="padding: 10px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="departTree" class="eleTree" style="margin-left: 1rem;position:relative" lay-filter="data1"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户编码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="userCode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">登录名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="loginName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">真实姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="realName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" data-type="search"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                    <table class="layui-hide" id="user_table" lay-filter="user_table" ></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn" lay-event="addUser">
            <i class="layui-icon">&#xe608;</i> 新增用户
        </button>
        <button type="button" class="layui-btn layui-btn-danger" lay-event="delBatch">
            <i class="layui-icon">&#xe640;</i> 批量删除
        </button>
    </div>
</script>


<script type="text/html" id="operate_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640</i>删除</a>
</script>

<script src="/static/lib/layui-v2.5.5/layui.js" type="text/javascript"></script>
<script src="/static/lib/layui-v2.5.5/layuiconfig.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['table','eleTree','layuicrm','layer'], function(){
        var table = layui.table,
            layuicrm = layui.layuicrm,
            layer = layui.layer,
            $ = layui.jquery,
            eleTree = layui.eleTree;

        var data ;

        $.post("/department/search?id=" + 'root',function (data) {
            eleTree.render({
                elem: '#departTree',
                data: data,
                accordion: true,
                highlightCurrent:true,
                checkStrictly:true,
                showLine:true,
                lazy: true,
                load: function(data,callback) {
                    $.post("/department/search?id=" + data.id,function (newData) {
                        setTimeout(function() {
                            callback(newData);
                        },500);
                    })
                }
            });

        });
        $(document).on('click', '.layui-btn', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        eleTree.on("nodeClick(data1)",function(obj) {
            var data = obj.data.currentData;
            console.log(data);
            table.reload("user_table", {
                where: {
                    userCode:$("#userCode").val(),
                    loginName:$("#loginName").val(),
                    realName:$("#realName").val(),
                    departmentId:data.id
                },
                page: {
                    curr: 1
                }
            });
        })
        table.render({
            elem: '#user_table'
            ,url:'/user/search'
            ,toolbar: '#toolbar'
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,title: '用户数据表'
            ,cols: [
                [
                    {type:'checkbox', fixed: 'left'},
                    {fixed: 'left', title:'操作', toolbar: '#operate_bar', width:150},
                    {field:'userCode', title:'用户编码', width:80, sort: true},
                    {field:'loginName', title:'登录名', width:120},
                    {field:'realName', title:'真实用户名', width:120},
                    {field:'email', title:'邮箱', width:150},
                    {field:'mobileNo', title:'手机号', width:150},
                    {field:'enabled', title:'是否可用', width:150},
                    {field:'failedLogins', title:'登陆失败次数', width:150},
                    {field:'lastAccess', title:'最后登陆时间', width:150},
                    {field:'creator', title:'创建者', width:150},
                    {field:'createTime', title:'创建时间', width:120},
                    {field:'updater', title:'最后更新人', width:150},
                    {field:'updateTime', title:'更新时间', width:150}
                ]
            ]
            ,done: function(res, curr, count){
                this.where={};
            }
            ,page: true
        });

        table.on('toolbar(user_table)', function(obj){
            switch(obj.event){
                case 'addUser':
                    layuicrm.modalOpen("/route/system/user_add","新增用户")
                    break;
                case 'delBatch':
                    layuicrm.modalConfirm("是否确定批量删除这些数据？",delBatch);
                    break;
            };
        });

        table.on('tool(user_table)',function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'edit':

                    break;
                case 'del':
                     layuicrm.modalConfirm("是否确定要删除用户：" + data.userCode,function (e) {
                         del(data)
                     })
                    break;
            }
        })

        var active = {
            search : function () {
                table.reload("user_table", {
                    where: {
                        userCode:$("#userCode").val(),
                        loginName:$("#loginName").val(),
                        realName:$("#realName").val()
                    },
                    page: {
                        curr: 1
                    }
                });
            },
            submit:function () {
                var user = {
                    userCode: $("input[name='userCode']").val(),
                    realName: $("input[name='realName']").val(),
                    password: $("input[name='password']").val(),
                    email: $("input[name='email']").val()
                }
                if (user.userCode == "") {
                    layuicrm.msg_error("用户代码不可为空")
                    return false;
                } else if (user.realName == "") {
                    layuicrm.msg_error("用户名不可为空")
                    return false;
                } else if (user.password == "") {
                    layuicrm.msg_error("用户密码不可为空")
                    return false;
                } else if (user.email == "") {
                    layuicrm.msg_error("邮箱不可为空")
                    return false;
                } else {
                    $.ajax({
                        url: "/user/create",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',//json 返回值类型
                        data: JSON.stringify(user),//转化为json字符串
                        success: function (result) {
                            if (result.code == 200) {
                                layer.closeAll();
                                layuicrm.msg_success("新增用户成功");
                                table.reload("user_table", {page: {curr: 1}});
                            } else {
                                layuicrm.msg_error(result.msg);
                            }
                        }
                    });
                }
            },
            cancel:function () {
                layer.closeAll();
            }
        };

        var delBatch = function () {
            var checkStatus = table.checkStatus("user_table");
            var data = checkStatus.data;
            $.ajax({
                url: "/user/deleteBatch",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',//json 返回值类型
                data: JSON.stringify(data),//转化为json字符串
                success: function (result) {
                    if (result.code == 200) {
                        layuicrm.msg_success(result.msg);
                        table.reload("user_table", {page: {curr: 1}});
                    } else {
                        layuicrm.msg_error(result.msg);
                    }
                }
            });
        }
        var del = function (data) {
            $.post("/user/delete?id=" + data.id,function (result) {
                if (result.code == 200) {
                    layuicrm.msg_success(result.msg);
                    table.reload("user_table", {page: {curr: 1}});
                } else {
                    layuicrm.msg_error(result.msg);
                }
            });
        }

    });
</script>
</body>
</html>
