<div class="layui-fluid" id="user-add" style="margin-top: 1rem">
    <div class="layui-form-item">
        <label class="layui-form-label">用户代码：</label>
        <div class="layui-input-block">
            <input type="text" name="userCode" minlength="2"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="realName" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门：</label>
        <div class="layui-input-block">
            <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" id="dept">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮 箱：</label>
        <div class="layui-input-block">
            <input type="text" name="email"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="float: right">
        <div class="layui-inline" >
            <input type="button" data-type="submit" class="layui-btn layui-btn-fluid" value="提 交"/>
        </div>
        <div class="layui-inline">
            <input type="button" data-type="cancel" class="layui-btn layui-btn-fluid" value="取消"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['tableSelect'], function(){

        var tableSelect = layui.tableSelect;

        tableSelect.render({
            elem: '#dept',
            checkedKey: 'id',
            table: {
                url: '/department/search',
                cols: [
                    [
                        {field:'id', title:'编号', width:80, sort: true},
                        {field:'deptCode', title:'部门代码', width:120},
                        {field:'deptName', title:'部门名称', width:120},
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.username)
                })
                elem.val(NEWJSON.join(","))
            }
        })

    });
</script>