<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Demo</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui-crm.css" media="all">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-logo">Demo</div>
        <a>
            <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
        </a>

        <ul class="layui-nav layui-layout-right kit-nav">
            <li class="layui-nav-item"><a href="javascript:;" class="layui-icon layui-icon-notice">消息<span class="layui-badge-dot"></span></a></li>
            <li class="layui-nav-item"><a href="javascript:;" class="layui-icon layui-icon-theme">主题</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="/static/images/user/logo.jpg" class="layui-nav-img"><span id="userName">大师兄</span></a>
                <dl class="layui-nav-child">
                    <dd><a href="#" class="iconfont icon-ziliao">基础资料</a></dd>
                    <dd><a href="#" class="iconfont icon-youxiang">我的邮箱</a></dd>
                    <dd><a href="#" class="iconfont icon-zhongzhi">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll layui-left-menu">

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-filter="layuicrmTab" id="top_tabs_box">
            <ul class="layui-tab-title" id="top_tabs">
                <li class="layui-this" id="" lay-id=""><i class="fa fa-home">首页</i></li>
            </ul>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:;"> <i></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-page-close="other"><i></i> 关闭其他</a></dd>
                        <dd><a href="javascript:;" data-page-close="all"><i></i> 关闭全部</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.5.5/layui.js" type="text/javascript"></script>
<script src="/static/lib/layui-v2.5.5/layuiconfig.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['element', 'layer','layuicrm'], function() {
        var $ = layui.jquery;
        var layer = layui.layer;

        layuicrm.InitMenu("/static/lib/api/left_menu.json")

    })
</script>
</body>
</html>
