<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sjh.springboot.mapper.system.DepartmentMapper">
    <select id="findByParentId" resultType="Department" parameterType="String">
       select * from system_department where parentId = #{parentId}
   </select>
    <select id="searchList" resultType="Department" parameterType="pers.sjh.springboot.condition.system.DepartmentSearchCondition">
        select * from system_department
        <include refid="deptSearch"/>
        limit #{start},#{limit}
    </select>
    <select id="searchCount" resultType="java.lang.Integer" parameterType="pers.sjh.springboot.condition.system.DepartmentSearchCondition">
        select count(1) from system_department
        <include refid="deptSearch"/>
    </select>
    <insert id="create" parameterType="Department">
        insert system_department
        (
            id,
            deptCode,
            deptName,
            deleted,
            creator,
            createTime,
            updater,
            updateTime
        )
        values(
            #{id},
            #{deptCode},
            #{deptName},
            false,
            #{creator},
            NOW(),
            #{updater},
            NOW()
        )
    </insert>
    <update id="update" parameterType="Department">
        update system_department
        set
            deptName = #{deptName},
            updater = #{updater},
            updateTime = NOW()
        where id = #{id}
    </update>
    <update id="delete" parameterType="String">
         update system_department
         set
            deleted = true,
            updateTime = NOW()
         where id = #{id}
    </update>
    <sql id="deptSearch">
        <where>
            !deleted
            <if test="deptCode != null and deptCode != ''">
                and deptCode = #{deptCode}
            </if>
            <if test="deptName != null and deptName != ''">
                and deptName = #{deptName}
            </if>

        </where>
    </sql>
</mapper>