<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sjh.springboot.mapper.system.RoleMapper">
    <select id="searchList" resultType="Role" parameterType="pers.sjh.springboot.condition.system.RoleSearchCondition">
        select * from system_role
        limit #{start},#{limit}
    </select>
    <select id="searchCount" resultType="java.lang.Integer" parameterType="pers.sjh.springboot.condition.system.RoleSearchCondition">
        select count(1) from system_role
    </select>
    <insert id="create" parameterType="Role">
        insert into system_role(
            id,
            roleCode,
            roleName,
            authorities,
            memo,
            deleted,
            creator,
            createTime,
            updater,
            updateTime
        )
        values(
            #{id},
            #{roleCode},
            #{roleName},
            #{authorities},
            #{memo},
            #{deleted},
            #{creator},
            NOW(),
            #{updater},
            NOW()
        )
    </insert>
    <update id="update" parameterType="Role">
        update system_role
        set
            roleName = #{roleName},
            authorities = #{authorities},
            memo = #{memo},
            updater = #{updater},
            updateTime = NOW()
        where id = #{id}
    </update>
    <update id="delete" parameterType="Role">
        update system_role
        set
            deleted = true,
            updateTime = NOW()
        where id = #{id}
    </update>
</mapper>