<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sjh.cloud_note.mapper.system.AreaMapper">
    <select id="findAll" resultType="Area">
       select * from general_area
   </select>
    <select id="findByParentId" resultType="Area" parameterType="java.math.BigInteger">
       select * from general_area where parentId = #{parentId}
   </select>
</mapper>